{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    {% include 'title.html' %}
    {% include 'menu.html' %}
</table>
<table align="center" border="0">
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <th><img src="{% static 'images/Citizen.png' %}" width="150" height="200"></th>
        <th>
            <table align="center" border="0">
                <tr><th height="100" width="200">Citizen Login</th></tr>
                <tr>
                    <th> UserName:<input type="text" required placeholder="Username" name="citizen_name"></th>
                </tr>
                <tr>
                    <th> Password:<input type="password" required placeholder="Password" name="citizen_password"></th>
                </tr>
                <tr><th>
                    <button type="submit">Login</button></th>
                </tr>
            </table>
        </th>
    </tr>
</table>
</body>
</html>