<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table align="center" border="0">
        <tr>
            <th width="150" bgcolor="yellow">
                <a href="{% url 'home' %}">
                   Home
                </a>
            </th>
            <th width="150" bgcolor="yellow">
                <a href="{% url 'ac_admin/index' %}">
                Admin
                </a>
            </th>
            <th width="150" bgcolor="yellow">
                <a href="{% url 'ac_officer/index' %}">
                Officer
                </a>
            </th>
            <th width="150" bgcolor="yellow">
                <a href="{% url 'ac_citizen/index' %}">
                Citizen
                </a>
            </th>
            <th width="150" bgcolor="yellow">Contact Us</th>
        </tr>
    </table>
</body>
</html>